/JavaFXApplication1/nbproject/private/
/JavaFXApplication1/build/
/JavaFXApplication1/dist/
/JavaFXSwingApplication1/nbproject/private/
/JavaFXSwingApplication1/dist/
/JavaFXSwingApplication1/build/
/DPFinanciamentos/nbproject/private/
/DPFinanciamentos/build/*
/DPFinanciamentos/dist/